$color_1: #333;
$color_2: #ffffff;
$color_3: #fff;
$color_4: rgb(0, 0, 0);
$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: Lato, Arial, sans-serif;
$font-family_3: 'Courier New', Courier, monospace;

* {
	box-sizing: border-box;
	font-family: $font-family_1;
	margin: 0;
	padding: 0;
	color: $color_1;
}

#result {
	width: 95%;
	max-width: 800px;
	margin: 0 auto 214px;
}

var {
	color: $color_2;
}

.result-question {
	font-size: 1.2rem;
	background: rgb(52, 52, 55);
	border-radius: 5px;
	border: solid 2px #000;
	padding: 2%;
	margin: 2%;
}

.answerCorrect {
	font-size: 1.4rem;
	border-radius: 5px;
	border: solid 1px #000;
	background: rgb(61, 190, 61);
	padding: 2%;
	margin: 2%;
}

.answerIncorrect {
	font-size: 1.4rem;
	border-radius: 5px;
	border: solid 1px #000;
	background: rgb(255, 26, 26);
	padding: 2%;
	margin: 2%;
}

.description {
	font-size: 2rem;
	border-radius: 5px;
	border: solid 1px #000;
	background: rgba(122, 122, 234, 0.687);
	padding: 2%;
	margin: 2%;
}

#finalResult {
	text-align: center;
	padding: 4rem;
	font-size: 5rem;
}

.utils {
	text-align: center;
}

.btn {
	display: inline-flex;
	align-items: center;
	background: #C06C84;
	box-shadow: 0 3px 2px 0 rgba(0,0,0,0.1);
	border-radius: 5px;
	height: 45px;
	padding: 0 30px;
	margin: 10px;
	color: $color_3;
	font-family: $font-family_2;
	text-transform: uppercase;
	text-decoration: none;
	&:hover {
		background: darken(#C06C84,10%);
		box-shadow: 0 4px 17px rgba(0,0,0,0.2);
		transform: translate3d(0, -2px, 0);
	}
}

input {
	font-size: 1.2rem;
	align-items: center;
	border-radius: 5px;
	box-shadow: 10px 4px 17px #000000;
	background: rgb(203, 203, 203);
	margin-bottom: 15px;
	margin: 40px;
	padding: 1%;
	margin-left: 1%;
	font-family: $font-family_3;
	color: $color_4;
}